---
import { actions } from "astro:actions";
import {
    type VideoListPageTypesType,
    type ValidContentListAutoLoadMoreType,
} from "@/types";
import { CONTENT_LIST_AUTO_LOAD_MORE } from "@/constants/cookies";

import VideoListGrid from "@/components/video-list-grid";

type Props = {
    type?: VideoListPageTypesType;
    slug?: string;
    isIndex: boolean;
    info: Awaited<ReturnType<typeof actions.videoListPageFetchInfo>>["data"];
};
const length = 20;
const extra: Parameters<typeof actions.videoListPageFetch>[0]["extra"] = [];

if (Astro.props.type === "aircraftFamily") {
    function getQueryString(ref: string) {
        return `*[_type=="video" && "tutorial" in tags[]->slug.current && references(${ref})] {
    _id,
    'slug': slug.current,
    title,
    release,
    "cover": cover.asset->path,
    'tags': tags[]->{
        _id,
        'slug': slug.current,
        "value": name,
        "name": title
    },
} | order(release desc)`;
    }
    if (
        Array.isArray(Astro.props.info?.onboard_devices) &&
        Astro.props.info.onboard_devices.length
    ) {
        Astro.props.info.onboard_devices.forEach(({ _id, maker, name }) => {
            extra.push({
                name: `机载设备 (${maker} ${name}) 教学`,
                query: getQueryString(`"${_id}"`),
            });
        });
    }
    if (Array.isArray(Astro.props.info?.tags) && Astro.props.info.tags.length) {
        extra.push({
            name: `相关航空知识`,
            query: getQueryString(
                `[${Astro.props.info.tags.map(({ _id }) => `"${_id}"`).join(",")}]`
            ),
        });
    }
}

const { data, error: error } = await Astro.callAction(
    actions.videoListPageFetch,
    {
        type: Astro.props.type,
        slug: Astro.props.slug,
        from: 0,
        length,
        extra: extra.length > 0 ? extra : undefined,
    }
);

type List = Exclude<typeof data, undefined>["list"];

if (error) {
    console.trace(error);
    Astro.response.status = 500;
    // Astro.response.statusText = (error.cause || error.message || "") as string;
    return Astro.rewrite("/500");
}
---

<section class="video-list">
    {
        !data ? (
            "暂无内容"
        ) : Astro.props.type === "aircraftFamily" ? (
            Object.entries(
                data.list.reduce(
                    (listByCategory, currentPost) => {
                        if (!listByCategory[currentPost.tags[0]._id])
                            listByCategory[currentPost.tags[0]._id] = {
                                name: currentPost.tags[0].name,
                                slug: currentPost.tags[0].slug,
                                list: [],
                            };
                        listByCategory[currentPost.tags[0]._id].list.push(
                            currentPost
                        );
                        return listByCategory;
                    },
                    {
                        "a8c9106d-729d-4ef0-8856-2427033a3fb7": {
                            name: "教程攻略",
                            slug: "tutorial",
                            list: [],
                        },
                        "04d17ab0-b28e-4132-9418-3fc2b85bbf4f": {
                            name: "评测",
                            slug: "review",
                            list: [],
                        },
                        "acc16e01-9854-4270-9a13-1626c080a2e8": {
                            name: "飞行实况",
                            slug: "gameplay",
                            list: [],
                        },
                    } as {
                        [category: string]: {
                            name: string;
                            slug?: string;
                            list: List;
                        };
                    }
                )
            )
                // .filter(
                //     ([_id, { name, list }]) =>
                //         Array.isArray(list) && list.length > 0
                // )
                .map(([_id, { name, list }], index, arr) => (
                    <Fragment>
                        {Array.isArray(list) && list.length > 0 && (
                            <Fragment>
                                <h3>{name}</h3>
                                <VideoListGrid
                                    type="aircraftFamily"
                                    initialList={list}
                                    initialListIsComplete
                                    showLoadMoreButton={false}
                                />
                            </Fragment>
                        )}
                        {name === "评测" &&
                            extra.map(({ name }) =>
                                Array.isArray(data[name]) &&
                                data[name].length > 0 ? (
                                    <Fragment>
                                        <h3>{name}</h3>
                                        <VideoListGrid
                                            type="aircraftFamily"
                                            initialList={data[name]}
                                            initialListIsComplete
                                            showLoadMoreButton={false}
                                        />
                                    </Fragment>
                                ) : null
                            )}
                    </Fragment>
                ))
        ) : Astro.props.type === "aircraftOnboardDevice" ? (
            Object.entries(
                data.list.reduce(
                    (listByCategory, currentPost) => {
                        if (!listByCategory[currentPost.tags[0]._id])
                            listByCategory["OTHER"].list.push(currentPost);
                        else
                            listByCategory[currentPost.tags[0]._id].list.push(
                                currentPost
                            );
                        return listByCategory;
                    },
                    {
                        "a8c9106d-729d-4ef0-8856-2427033a3fb7": {
                            name: "教程攻略",
                            slug: "tutorial",
                            list: [],
                        },
                        OTHER: {
                            name: "其他视频",
                            slug: "",
                            list: [],
                        },
                    } as {
                        [category: string]: {
                            name: string;
                            slug?: string;
                            list: List;
                        };
                    }
                )
            )
                // .filter(
                //     ([_id, { name, list }]) =>
                //         Array.isArray(list) && list.length > 0
                // )
                .map(
                    ([_id, { name, list }], index, arr) =>
                        Array.isArray(list) &&
                        list.length > 0 && (
                            <Fragment>
                                <h3>{name}</h3>
                                <VideoListGrid
                                    type="aircraftFamily"
                                    initialList={list}
                                    initialListIsComplete
                                    showLoadMoreButton={false}
                                    tagPurpose={
                                        name === "教程攻略"
                                            ? undefined
                                            : "latest"
                                    }
                                />
                            </Fragment>
                        )
                )
        ) : (
            <VideoListGrid
                client:idle
                type={Astro.props.type}
                slug={Astro.props.slug}
                isIndex={Astro.props.isIndex}
                length={length}
                initialList={data.list}
                initialListIsComplete={data.list.length >= data.total}
                infiniteScroll
                defaultContentListAutoLoadMore={
                    Astro.cookies.get(CONTENT_LIST_AUTO_LOAD_MORE)
                        ?.value as ValidContentListAutoLoadMoreType
                }
            />
        )
    }
</section>

<style lang="less">
    @import "@/utils/mixins.less";

    .video-list {
        h3 {
            margin-top: 0;
        }
        h3 ~ h3 {
            margin-top: 1em;
        }
        &:has(> h3) {
            margin-top: 1.3333em;
        }
    }
</style>
