---
import { actions } from "astro:actions";
import {
    type VideoListPageTypesType,
    type ValidContentListAutoLoadMoreType,
} from "@/types";
import { CONTENT_LIST_AUTO_LOAD_MORE } from "@/constants/cookies";

import VideoListGrid from "@/components/video-list-grid";

type Props = {
    type?: VideoListPageTypesType;
    slug?: string;
    isIndex: boolean;
};
const length = 20;

const { data, error: error } = await Astro.callAction(
    actions.videoListPageFetch,
    {
        type: Astro.props.type,
        slug: Astro.props.slug,
        from: 0,
        length,
    }
);
if (error) {
    console.trace(error);
    Astro.response.status = 500;
    // Astro.response.statusText = (error.cause || error.message || "") as string;
    return Astro.rewrite("/500");
}
---

<section class="video-list">
    <VideoListGrid
        client:idle
        type={Astro.props.type}
        slug={Astro.props.slug}
        isIndex={Astro.props.isIndex}
        length={length}
        initialList={data.list}
        initialListIsComplete={data.list.length >= data.total}
        infiniteScroll
        defaultContentListAutoLoadMore={Astro.cookies.get(
            CONTENT_LIST_AUTO_LOAD_MORE
        )?.value as ValidContentListAutoLoadMoreType}
    />
</section>

<style lang="less">
    @import "@/utils/mixins.less";

    .video-list {
        padding: 1em 0;
    }
</style>
