---
import { actions } from "astro:actions";

// import log from "@/page-templates/index/_log.ts";

import Layout from "@/layouts/layout.astro";
import Block from "@/components/block.astro";
import VideoListHorizontal from "@/components/video-list-horizontal.tsx";
import TagButton from "@/components/tag-button.astro";

import getVideoItemTopTag from "@/utils/get-video-item-top-tag";

import Collection from "./homepage/collection.astro";

// ============================================================================
//
// 语言包相关
// - 这些信息来自之前的项目
// - 本项目暂未启用多语言
//
// `Astro.currentLocale` 为本次访问的语言 ID
//  - 在所有 `page` `endpoint` 和 `context` 中均会存在，可直接使用
//
// `Astro.locals.global` 为全局通用信息语言包，即 CMS 中的 `通用信息` 结构体
//  - 在所有 `page` `endpoint` 和 `context` 中均会存在，可直接使用
//
// `getLocale` 这一 _Action_ 为获取语言包内容的请求
//  - 传入的参数中 `cmsStructureId` 为 CMS 中结构体 ID
//  - 组件内自行决定返回的对象如何使用
//      - 本例中，向所有子组件传入名为 `_` 的属性，作为语言包内容
//
// ============================================================================

// const currentLocale = (Astro.currentLocale || "") as LocaleType;
// const {
//     data: _ = {},
//     // error: _error
// } = await Astro.callAction(actions.getLocale, {
//     locale: currentLocale,
//     cmsStructureId: 536,
// });
// if (_error) {
//     Astro.props.error = _error;
//     return Astro.rewrite("/500");
// }

// Astro.locals.page = _;
// log("locales %O", _);
// log(sparringSampleList);
// log({ error });

// ============================================================================
//
// 获取首页视频内容
//
// ============================================================================

const { data: collections, error: error } = await Astro.callAction(
    actions.homePageFetch,
    undefined
);
if (error) {
    Astro.response.status = 500;
    Astro.props.error = error;
    return Astro.rewrite("/500");
}
---

<Layout showHeader showBanner showFooter>
    <Block class="home-page">
        <Collection
            name="latest"
            title="最新视频"
            videos={collections?.["latest"]}
        />

        <Collection name="tags" title="亮点内容" showMore={false}>
            {
                [
                    {
                        name: "机型教学",
                        tags: [
                            [
                                "空客",
                                "A350 XWB",
                                "aircraftfamily-airbus-a350-xwb",
                            ],
                            ["空客", "A380", "aircraftfamily-airbus-a380"],
                            [
                                "空客",
                                "A320 CEO",
                                "aircraftfamily-airbus-a320-ceo",
                            ],
                            [
                                "空客",
                                "A320 NEO",
                                "aircraftfamily-airbus-a320-neo",
                            ],
                            [
                                "波音",
                                "747-8",
                                "aircraftfamily-boeing-747-8",
                            ],
                            [
                                "波音",
                                "787 梦想客机",
                                "aircraftfamily-boeing-787-dreamliner",
                            ],
                            [
                                "安东诺夫",
                                "An-225 梦幻",
                                "aircraftfamily-antonov-an-225",
                            ],
                            ["ATR", "72-600", "aircraftfamily-atr-72-600"],
                            [
                                "西瑞",
                                "SF-50 展望喷气",
                                "aircraftfamily-cirrus-sf50-vision-jet",
                            ],
                            [
                                "西瑞",
                                "SR-22T",
                                "aircraftfamily-cirrus-sr22t",
                            ],
                            [
                                "钻石",
                                "DA-42 双星",
                                "aircraftfamily-diamond-da42-twin-star",
                            ],
                            [
                                "派珀",
                                "M500",
                                "aircraftfamily-piper-m500",
                            ],
                            [
                                "派珀",
                                "PA-24 科曼奇",
                                "aircraftfamily-piper-pa24-comanche",
                            ],
                        ],
                    },
                    {
                        name: "热点资讯",
                        tags: [
                            [
                                "微软2024",
                                "SU03 更新",
                                "platformupdate-msfs2024-su03",
                            ],
                            [
                                "微软2020",
                                "SU16 更新",
                                "platformupdate-msfs2020-su16",
                            ],
                            [
                                "微软2024",
                                "SU02 更新",
                                "platformupdate-msfs2024-su02",
                            ],
                        ],
                    },
                ].map(({ name, tags }) => (
                    <section class="hot-tag">
                        <strong class="name">{name}</strong>
                        <span class="tags">
                            {tags.map(([prefix, name, route]) => (
                                <TagButton
                                    href={`/videos/${route}`}
                                    prefix={prefix}
                                >
                                    {name}
                                </TagButton>
                            ))}
                        </span>
                    </section>
                ))
            }
        </Collection>

        {
            [
                ["tutorials", "模拟飞行教学视频", "tag-tutorial"],
                ["news", "模拟飞行资讯视频", "tag-news"],
                ["reviews", "模拟飞行评测视频", "tag-review"],
                ["world", "航空专题视频", "tag-world"],
            ].map(([collectionName, title, routeName]) => (
                <Collection
                    name={collectionName}
                    route={routeName}
                    title={title}
                    videos={collections?.[collectionName]}
                />
            ))
        }

        <section class="check-more">
            <TagButton href="/videos">浏览更多视频</TagButton>
        </section>
    </Block>
</Layout>

<style lang="less">
    @import "@/utils/mixins.less";

    .home-page {
        // .font-size-clamp-with-line-height(40px, 60px);
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .hot-tag {
        display: flex;
        flex-flow: row nowrap;
        & + .hot-tag {
            margin-top: 1em;
            line-height: 1.6667em;
        }
        & > .name {
            display: block;
            flex: 0 0 5em;
        }
        & > .tags {
            flex: 1;
            font-size: unit((14px / @base-font-size-number), em);
            font-weight: normal;
            display: flex;
            flex-flow: row wrap;
            gap: 0.5em;
            &:empty {
                display: none;
            }
            a {
                display: inline-flex;
            }
        }
    }

    .check-more {
        text-align: center;
        margin-bottom: 3em;
        a {
            font-size: 1.133333em;
            border-radius: 100em;
            padding: 0.3333em 1.6667em;
        }
    }
</style>
