---
import { actions } from "astro:actions";
import { type VideoListPageTypesType } from "@/types";
import getVideoListPageLink from "@/utils/get-video-list-page-link";
import { specialTagsTutorial } from "@/global";
import { VIDEO_LIST_PAGE_CATEGORY_SWITCH_SMALL_SCREEN } from "@/constants/element-ids";

import VideosHollow from "@/assets/svg-symbols/videos-hollow.svg?raw";
import VideosFill from "@/assets/svg-symbols/videos-fill.svg?raw";
import ArrowLeftSvg from "@/assets/arrow/left3.svg";
import ArrowRightSvg from "@/assets/arrow/right3.svg";
import Explore from "./explore";

type Props = {
    type?: VideoListPageTypesType;
    slug?: string;
    isIndex: boolean;
};

const { data, error: error } = await Astro.callAction(
    actions.videoListPageFetchTags,
    {}
);
if (error) {
    console.trace(error);
    Astro.response.status = 500;
    // Astro.response.statusText = (error.cause || error.message || "") as string;
    return Astro.rewrite("/500");
}

const mainTags: typeof list = [];
const subTags: typeof list = [];

let isCurrentMainTag = false;

// 遍历所有标签（Tag），根据 `tag_type` 归属主要和次要标签
// 特殊：`教程攻略` 子类直接归属主要标签
data?.forEach((tag) => {
    if (!tag.title) return;
    if (!tag.slug) return;
    if (specialTagsTutorial.includes(tag.slug)) {
        if (Astro.props.slug === tag.slug) isCurrentMainTag = true;
        return;
    }

    const item: (typeof list)[0] = {
        type: "link",
        text: tag.title,
        linkType: "tag",
        linkSlug: tag.slug,
        isActive: Astro.props.slug === tag.slug,
    };
    if (tag.tag_type === "category") {
        mainTags.push(item);
        if (Astro.props.slug === item.linkSlug) isCurrentMainTag = true;
    } else {
        subTags.push(item);
    }

    // 遍历到“教程攻略”，直接追加子类别
    if (tag.slug === "tutorial") {
        specialTagsTutorial.forEach((slug) => {
            const thisData = data.find((d) => d.slug === slug);
            if (!thisData) return;
            if (!thisData.title) return;
            mainTags.push({
                type: "link",
                text: thisData.title,
                linkType: "tag",
                linkSlug: slug,
                level: 2,
                isActive: Astro.props.slug === slug,
            });
        });
    }
});

/**
 * 根据这一列表，渲染视频类别导航
 */
const list: Array<
    | {
          type: "subtitle";
          text: string;
      }
    | {
          type: "link";
          text: string;
          linkType?: VideoListPageTypesType;
          linkSlug?: string;
          route?: string;
          level?: number;
          isActive?: boolean;
          iconHtml?: string;
          iconHtmlActive?: string;
      }
    | {
          type: "explore";
          text: string;
          explore: VideoListPageTypesType;
      }
    | "divider"
> = [
    {
        type: "link",
        text: "最新视频",
        route: getVideoListPageLink(),
        isActive: Astro.props.isIndex,
        iconHtml: VideosHollow,
        iconHtmlActive: VideosFill,
    },
    "divider",
    // {
    //     type: "subtitle",
    //     text: "视频分类",
    // },
    ...mainTags,
    "divider",
    // {
    //     type: "subtitle",
    //     text: "更多内容",
    // },
    {
        type: "explore",
        text: "分类标签",
        explore: "tag",
    },
    {
        type: "explore",
        text: "机型系列",
        explore: "aircraftFamily",
    },
    {
        type: "explore",
        text: "机载设备",
        explore: "aircraftOnboardDevice",
    },
    {
        type: "explore",
        text: "机场",
        explore: "aerodrome",
    },
    {
        type: "explore",
        text: "平台",
        explore: "platform",
    },
    {
        type: "explore",
        text: "平台更新",
        explore: "platformUpdate",
    },
    // {
    //     type: "explore",
    //     text: "工作室",
    //     explore: 'developer',
    // },
];
// console.log(data, list, isCurrentMainTag);

// 所有以 `.screen-sm-` 开头的 class，均为小屏幕特别覆盖
// 小屏幕时，类别导航自动隐藏，需要手动展开显示
// 使用 ID 为 {VIDEO_LIST_PAGE_CATEGORY_SWITCH_SMALL_SCREEN} 的 checkbox 控制是否显示类别导航
// 相关的 `<label />` 元素为操作按钮
---

<Fragment>
    <input id={VIDEO_LIST_PAGE_CATEGORY_SWITCH_SMALL_SCREEN} type="checkbox" />
    <aside class="categories">
        <section class="wrapper">
            <label
                for={VIDEO_LIST_PAGE_CATEGORY_SWITCH_SMALL_SCREEN}
                class="screen-sm-button-collapse-categories"
                ><ArrowLeftSvg />收起分类</label
            >
            {
                list.map((item) => {
                    if (item === "divider") {
                        return <hr />;
                    }
                    switch (item.type) {
                        case "link": {
                            return (
                                <a
                                    href={
                                        item.route ||
                                        getVideoListPageLink(
                                            item.linkType,
                                            item.linkSlug
                                        )
                                    }
                                    class:list={[
                                        "item",
                                        "link",
                                        `is-level-${item.level || 1}`,
                                        {
                                            "is-active": item.isActive,
                                        },
                                    ]}
                                    set:html={`
                                    ${item.isActive ? item.iconHtmlActive || "" : item.iconHtml || ""}
                                    ${item.text}`}
                                />
                            );
                        }
                        case "subtitle": {
                            return (
                                <strong class="item title">{item.text}</strong>
                            );
                        }
                        case "explore": {
                            return (
                                <button
                                    type="button"
                                    class:list={[
                                        "item",
                                        "explore",
                                        {
                                            "is-active":
                                                Astro.props.type ===
                                                    item.explore &&
                                                !isCurrentMainTag,
                                        },
                                    ]}
                                    data-explore={item.explore}
                                >
                                    <Explore
                                        client:idle
                                        type={item.explore}
                                        title={item.text}
                                        listType={Astro.props.type}
                                        listSlug={Astro.props.slug}
                                    >
                                        {item.text}
                                    </Explore>
                                    <ArrowRightSvg class="right-arrow" />
                                </button>
                            );
                        }
                        default:
                            return null;
                    }
                })
            }
        </section>
        <label
            for={VIDEO_LIST_PAGE_CATEGORY_SWITCH_SMALL_SCREEN}
            class="screen-sm-categories-background"></label>
        <label
            for={VIDEO_LIST_PAGE_CATEGORY_SWITCH_SMALL_SCREEN}
            class="screen-sm-button-expand-categories"
            ><ArrowRightSvg />展开分类</label
        >
    </aside>
</Fragment>

<style lang="less">
    @import "@/utils/mixins.less";

    // 所有以 `.screen-sm-` 开头的 class，均为小屏幕特别覆盖
    // 小屏幕时，类别导航自动隐藏，需要手动展开显示

    input[type="checkbox"] {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        z-index: -1;
    }

    .categories {
        @min-width: 10.75em;
        --item-min-height: 2.5em;
        --item-line-height: 1.1em;

        position: sticky;
        top: calc(var(--global-sticky-top) + 1em);
        flex: 0 0 @min-width;
        margin: 1em 0 4em 0;
        // border-radius: 10px;
        overflow: hidden;
        z-index: calc(var(--global-footer-z-index) + 1);
        overscroll-behavior: contain;

        & > .wrapper {
            position: relative;
            z-index: 5;
            height: 100%;
            overflow: auto;
            scrollbar-width: thin;
            max-height: calc(100dvh - var(--global-sticky-top) - 2em);
            padding: 0 1em 1em 0;
            overscroll-behavior: contain;

            & > .item,
            & > .screen-sm-button-collapse-categories,
            & > hr {
                display: block;
            }
            & > .item,
            & > .screen-sm-button-collapse-categories {
                --extra-padding-left: 0px;
                --icon-size: 1.25em;
                --icon-margin: 0.6667em;
                --padding-left-with-icon: calc(
                    (@global-edge-safe-distance-sm * 2 / 3) +
                        var(--extra-padding-left) + var(--icon-size) +
                        var(--icon-margin)
                );

                position: relative;
                color: inherit;
                font-weight: normal;
                min-height: var(--item-min-height);
                line-height: var(--item-line-height);
                padding: calc(
                        (var(--item-min-height) - var(--item-line-height)) / 2
                    )
                    (@global-edge-safe-distance-sm * 2/3);
                border-radius: 8px;
                & > :global(svg) {
                    position: absolute;
                    display: block;
                    width: var(--icon-size);
                    height: var(--icon-size);
                    top: 50%;
                    margin-left: calc(
                        var(--icon-size) * -1 - var(--icon-margin)
                    );
                    margin-right: calc(var(--icon-margin) / 2);
                    margin-top: calc(var(--icon-size) * -0.5);
                    &.right-arrow {
                        --icon-size: 0.75em;
                        position: relative;
                        top: 0.175em;
                        margin: auto;
                        display: inline-block;
                        vertical-align: top;
                        margin-left: calc(var(--icon-margin) / 2);
                        color: var(--text-color-secondary);
                    }
                }
                & + .item {
                    margin-top: 0.25em;
                }
            }
            & > .item {
                &.title {
                }
                &.link,
                &.explore {
                    color: var(--text-color-primary);
                    transition-property: transform, background-color;
                    padding-left: var(--padding-left-with-icon);
                    &::before {
                        --dot-size: 0.75em;
                        position: absolute;
                        top: 50%;
                        left: calc(
                            var(--icon-size) * 3 / 4 +
                                var(--extra-padding-left) + 0.85em -
                                var(--dot-size)
                        );
                        margin-top: calc(var(--dot-size) / -2);
                        width: var(--dot-size);
                        height: var(--dot-size);
                        background: transparent;
                        border: 2px solid var(--border-color);
                        border-radius: 100%;
                    }
                    &:not(:has(> svg))::before,
                    &:has(> svg.right-arrow)::before {
                        content: "";
                    }
                    &:hover,
                    &.is-active {
                        background: var(--tag-background-color);
                    }
                }
                &.link {
                    text-decoration: none;
                    &.is-active {
                        &::before {
                            background-color: var(--accent-color-purple);
                        }
                    }
                    &.is-level-2 {
                        --extra-padding-left: 1em;
                    }
                }
                &.explore {
                    appearance: none;
                    width: 100%;
                    text-align: left;
                    border: 0;
                    background: transparent;
                    &.is-active {
                        &::before {
                            background-color: var(--accent-color-green);
                        }
                    }
                    // &[data-explore="aircraftFamily"].is-active {
                    //     &::before {
                    //         background-color: var(--accent-color-teal);
                    //     }
                    // }
                    // &:has([class*="is-status-loading"]) {
                    //     pointer-events: none;
                    // }
                }
            }
            & > hr {
                margin: 0.6667em auto;
                border-top-width: 0;
            }
            & > .screen-sm-button-collapse-categories {
                cursor: pointer;
                transition: color var(--base-transition-duration);
                display: none;
                padding-left: var(--padding-left-with-icon);
                & > :global(svg) {
                    --icon-size: 1em;
                }
                &:hover {
                    color: var(--text-color-primary);
                }
            }
        }

        & > .screen-sm-categories-background,
        & > .screen-sm-button-expand-categories {
            display: none;
            backdrop-filter: var(--global-header-backdrop-filter);
        }
        & > .screen-sm-categories-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            overscroll-behavior: contain;
            scrollbar-width: none;
            background-color: var(--global-header-background-color);
            backdrop-filter: var(--global-header-backdrop-filter);
            transition: opacity var(--base-transition-duration) allow-discrete;
            opacity: 0;
            pointer-events: none;
            &::before {
                content: "";
                position: relative;
                display: block;
                top: 0;
                height: 200vh;
            }
        }
        & > .screen-sm-button-expand-categories {
            --size: 1.13333em;
            position: fixed;
            top: calc(var(--global-sticky-top) + 0.6667em);
            left: 0;
            display: none;
            // top: 1em;
            // left: var(--global-edge-safe-distance);
            // width: var(--size);
            // height: var(--size);
            border-radius: 0 100em 100em 0;
            cursor: pointer;
            font-weight: normal;
            padding: 0.3333em var(--global-edge-safe-distance);
            margin: 0 0 0.6667em 0;
            color: var(--text-color-secondary);
            background: var(--tag-background-color);
            transition: background-color var(--base-transition-duration);
            border: 1px solid var(--border-color);
            border-left: 0;
            box-shadow: var(--overlay-box-shadow);
            & > svg {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: var(--size);
                height: var(--size);
                margin-right: 0.3333em;
                top: 0.15em;
            }
            &:hover {
                background: var(--menu-background-color-highlight);
            }
            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                top: -1px;
                bottom: -1px;
                left: 0;
                right: -1px;
                border: inherit;
                border-radius: inherit;
                background: var(--global-header-background-color);
            }
            // &::before {
            //     content: "";
            //     position: absolute;
            //     z-index: 2;
            //     top: 0.5em;
            //     bottom: 0.5em;
            //     left: 2.5em;
            //     width: 2.5px;
            //     background: currentColor;
            // }
        }

        .screen-sm({
            position: fixed;
            width: auto;
            height: auto;
            left: auto;
            top: auto;
            overflow: visible;
            flex: none;
            // margin-right: -1em;
            & > .wrapper,
            & > .screen-sm-categories-background {
                position: fixed;
                left: 0;
                top: var(--global-sticky-top);
                height: calc(100% - var(--global-sticky-top));
                height: calc(100vh - var(--global-sticky-top));
                height: calc(100dvh - var(--global-sticky-top));
            }
            & > .wrapper, {
                min-width: @min-width;
                width: 50vw;
                width: 50dvw;
                padding-top: calc(var(--global-edge-safe-distance) / 2);
                padding-left: var(--global-edge-safe-distance);
                padding-right: var(--global-edge-safe-distance);
                padding-bottom: calc(
                    var(--global-navbar-height) +
                    var(--global-navbar-bottom-edge) * 3 + 
                    var(--global-bottom-safe-distance)
                );
                max-height: none;
                overflow: auto;
                transform: translateX(-100%);
                transition: transform var(--base-transition-duration) allow-discrete, opacity var(--base-transition-duration) allow-discrete;
                background: var(--theme-color);
                pointer-events: none;
                box-shadow: var(--overlay-box-shadow);
                & > .screen-sm-button-collapse-categories {
                    display: block;
                }
            }
            & > .screen-sm-categories-background,
            & > .screen-sm-button-expand-categories {
                display: block;
            }
        });
    }

    input[type="checkbox"]:checked ~ .categories {
        & > .wrapper,
        & > .screen-sm-categories-background {
            pointer-events: all;
        }
        & > .wrapper {
            transform: none;
        }
        & > .screen-sm-categories-background {
            opacity: 1;
        }
    }
</style>
